<div class="col-md-12" id="map">
	<div class="col-md-8">
		<img src="images/map.png" alt="" class="image-responsive">
		<i class="fa fa-circle" id="wardha"></i>
		<i class="fa fa-circle" id="chandrapur"></i>
		<i class="fa fa-circle" id="nagpur"></i>
	</div>
	<div class="col-md-4 well">
		<h3>Details</h3>
		<div class="list-group" id="place_details"></div>
	</div>
</div>

<script>
	$('i').on('mouseover', function(){
		var place = $(this).attr('id');

		$.ajax({
			url: 'functions/common_functions.php',
			type: 'post',
			data: {
				place: place,
				access: 'place_details'
			},
			success: function(data){
				$('#place_details').html(data);
			}
		});
		
	});
</script>